body {
  background-image: url('./img/Grafiti.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
}
h1{
  color: greenyellow;
  text-align: center;
  background-color: rgba(11, 11, 190, 0.575);
}

#cart{
  background-color: rgba(0, 0, 255, 0.589);
  text-align: center;
  color: greenyellow;
}

button{
  display: flex;
  justify-content: center; 
  align-items: center; 
}